# Virtual env
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Local DB
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
